# only for without docker or mobile build conf (PWA conf already in docker compose) :
# (ATTENTION les env vars ont précédence sur .env !)

# Désactiver les données "en dur" et activer l'appel de l'API locale :
# (requiert avoir démarré le serveur : docker compose up -d dans le dossier racine)
#VITE_DEV_MODE_MOCK_DATA=false

# API : (NB. pas fourni dans ../.env.dev)
VITE_API_BASE_URL=http://localhost:6868
# pour utiliser l'URL https utilisant le certificat généré par mkcert :
#VITE_API_BASE_URL=https://api.localhost
# OU pour cibler sa machine de dev locale : (depuis un téléphone, l'IP doit être visible sur le réseau donc pas par partage de réseau mobile)
VITE_API_BASE_URL=http://10.0.2.2:6868
#VITE_API_BASE_URL=https://10.0.2.2
#VITE_API_BASE_URL=http://192.168.0.111:6868
#VITE_API_BASE_URL=https://192.168.0.111
#VITE_API_BASE_URL=https://api.preprod.fieldops.com
#VITE_API_BASE_URL=https://api.fieldops.com

# Google Maps API key : (NB. fourni dans ../.env.dev)
# PWA :
VITE_GOOGLE_MAPS_API_KEY=TODO
# Android : ATTENTION il faut plutôt la mettre dans AndroidManifest.xml sous <application> :
# <meta-data android:name="com.google.android.geo.API_KEY" android:value="TODO your API key"/>
##VITE_GOOGLE_MAPS_API_KEY=PAS BESOIN
# iOS :
#VITE_GOOGLE_MAPS_API_KEY=TODO

# Activer la fonctionnalité des séances pour le TP :
#SESSIONS_ENABLED=true