# to be used to help running without docker
# NB. configurés dans ../docker-compose*.yml et ses ../.env* 

DEBUG=nodejs-docker-express:*
LOG_LEVEL=debug

PORT=3001
CORS_ORIGIN=https://app.localhost

# Au moins 32 caracteres, A REUTILISER dans la configuration Hasura dans un HASURA_GRAPHQL_JWT_SECRET de type HS256 :
JWT_SECRET=un-secret-d-au-moins-32-caracteres-ici
# DB, for mini passwordless JWT auth server :
DATABASE_URL=postgres://user:password@postgres:5432/fieldops
HASURA_GRAPHQL_URL=http://hasura:8080/v1/graphql
# BEWARE DEV ONLY bypass les permissions par role Hasura sur CHAQUE requete proxifiee :
# HASURA_GRAPHQL_ADMIN_SECRET=

MAIL_CONTACT="contact@fieldops.com"